numpy

uvicorn
pyjwt
fastapi
python-multipart

# LLM
google-auth
google-genai

# Database
sqlmodel
pydantic-settings
pydantic[email]
psycopg2-binary
alembic

# OAuth
pyjwt
pwdlib
pwdlib[argon2]